<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-dark" style="background-color: #e3f2fd;"> 
        <ul class="nav">
          <li class="nav-item active"><a class="nav-link text-dark" href="<%= posts_path %>">Home</a></li>       
          <li class="nav-item disabled"><a class="nav-link text-dark" href="#">Something</a></li> 
        </ul>
        <%= link_to 'New Post', new_post_path, class: 'btn btn-outline-primary float-md-right' %>
      </nav>
    </div>

    <div class="container main">
      <%= yield %>
    </div>
  </body>
</html>
